@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
	background-color: #EBF0F6;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

.titfooter{
	color: #A7A7A7 !important;
}

.bg-primary {
	background-color: #315064;
}

.bg-secondary {
	background-color: #1F3542;
	color: #FFF;
}

.bg-terciario {
	background-color: black;
}

.navbar {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.navbar-brand {
	height: auto;
}

.navbar-default .navbar-nav > li > a {
	color: #b2b7bf;
	font-size: 16px;
}

.navbar-nav {
	margin-top: 32px;
}

#inputSuccess4 {
	background-color: #414C56;
}

/* TOP */
#top {
	padding: 5px 0;

}

#top p {
	margin: 0;
}

p span {
      color: white;

}

#miid > .miclass {
      color: red;
}

#miid.miclass {
      color: red;
}

<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    background-color: #01ACED
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3E5062;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #3E5062;
    color: white;
}

.fa-instagram {
	background-color: #3E5062;
	color: white;
}

.table {
	margin-top: 10px;
}


img.pequenia{
  width: 45px; height: 45px;
}

.btn-social {
	border-color: #3E5062;
}

#nav-form {
	margin-top:0px;
}

.fondo-tabla {
	background-color: white;
}

.titulo-izq {
	float: left;
}

#buscador1 {
	padding: 20px;
	border: none;
}
.lineapostsceleste{
	background-color: #04D1E2;
	height:6px;
	border-radius:2px;
	margin-top: 15px !important;
	margin-bottom: -8px !important;
}
.lineapostsnaranja{
	background-color: #FF543A;
	height:6px;
	border-radius:2px;
	margin-top: 15px !important;
	margin-bottom: -8px !important;
}

.articlerecent{
	width: 244px !important;
	height: 45px !important;
	padding-right: 15px !important;
}
.posts {
display: inline-block;
padding: 15px !important;
color: rgba(0, 0, 0, 0.75) !important;
font-size: 14px !important;
font-weight: 600 !important;;
vertical-align: top !important;

}
.post-updated{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;

	padding-right: 115px !important;
	float: right !important;

}


.tablarecent{
padding: 10px !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
margin: 0;
padding: 15px 20px;
font-size: 12px;
width: 263px !important;



}
.tablepost{
	width: 100%;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
margin: 0;
padding: 20px;
box-sizing: border-box;
width: 263px !important;

}
.recent-posts {

padding: 15px !important;
color: rgba(0, 0, 0, 0.75) !important;
font-size: 14px !important;
font-weight: 600 ;
vertical-align: top !important;
float: right !important;

}
.recent-post-updated{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
	float: right !important;

}

.title a{
	color: #FFFFFF !important;
	font-size: 16px;
	text-align: center;
}
.quote-format{
	background: #00A8FF;
padding: 30px 20px;
color: #FFFFFF;
}
.header{
	position: relative;
margin: -1px 0 20px;
}


#recent-head {
	background-color: #3E5062;
}

.colorwhite {
	color: white;
}

#colorfooternav {
	color: #E6E6E6;
}

.inputheader{
  width: 100px;
  font-weight: bold;
}

.itemcarusel{
  width:100%;
  height: 557.6470588235294px
}
.logoextra{
width: 233px
data-fixed-width="149.00904761904764"
data-initial-width="233"
data-initial-height="63"

}
.rating-stars{
  display: inline-block;

}


.carousel-caption
			{
				position: left;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				padding: 20px;
				color: #fff;
				text-align: left;

				background: rgba(0,0,0,0.6);

			}

.textocarrusel{
  color: #FFFFFF
}
/*a:any-link{
    color:#FFFFFF;

}*/
h4{
	margin-left: 5px;
}

.titulospost{
	font-size: 14px;
	color: black;


}

.color-gris{
	color: #7F7F7F !important;
	font-weight: 400 !important;
}

a {
        color: rgba(0, 0, 0, 0.75);
        text-decoration: none;
        word-break: break-word;
        word-wrap: break-word;
    }

.followus{
	color: black !important;
margin-top: 10px !important;
}

/*Hoja de estilos descargada de extraTheme*/

/* ET Icons */
.extra_icon_font,
.read-more-button:after,
#back_to_top,
.et-extra-icon:before,
.comment-bubble:before,
.rating-star:before,
.et_pb_extra_overlay:before,
header.header li.menu-item-has-children > a:after,
#et-info .et-top-search .et-search-submit:before,
#et-info .et-cart:before,
.et-top-search-primary-menu-item .search-icon:before,
.et-top-search-primary-menu-item .et-top-search .et-search-submit:before,
.paginated .pagination li a.prev::before,
.archive-pagination .pagination li a.prev::before,
.paginated > .page-numbers li a.prev::before,
.archive-pagination > .page-numbers li a.prev::before,
.paginated .pagination li a.next::before,
.archive-pagination .pagination li a.next::before,
.paginated > .page-numbers li a.next::before,
.archive-pagination > .page-numbers li a.next::before,
.audio-format .mejs-container .mejs-controls .mejs-button button:before,
.audio-format .mejs-container .mejs-controls .mejs-button button:after,
.audio-format .mejs-container .mejs-controls .mejs-volume-button button:before,
.link-format .attribution:before,
.quote-format .attribution:before,
.post-nav .nav-links .button:before,
.single-project .post-nav .nav-links .nav-link .button:before,
.project-details .project-categories ul li:before,
.project-details .project-tags ul li:before,
.project-details .project-url ul li:before,
.project-details .project-tags li:before,
.tabbed-post-module .tab-nav .arrow:before,
.et_pb_widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .button:after,
.et_pb_widget.widget_et_recent_tweets .et-extra-icon:before,
.timeline-module .module-head:after,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce div.product .extra-woocommerce-details-accordion .ui-accordion-header-icon:before,
.woocommerce-page div.product .extra-woocommerce-details-accordion .ui-accordion-header-icon:before,
.post-nav .nav-links .read-more-button:before,
.single-project .post-nav .nav-links .nav-link .read-more-button:before,
.et_pb_widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .read-more-button:after,
#timeline-sticky-header:after,
.post-nav .nav-links .post-nav .nav-links .button:before,
.single-project .post-nav .nav-links .nav-link .post-nav .nav-links .button:before,
.et_pb_widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons .post-nav .nav-links .button:after {
  color: #FFFFFF;
  position: relative;
  transition: .3s ease;
  font-family: 'ET-Extra' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit !important;
}
.et-extra-icon {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  transition: .3s ease;
}
.et-extra-icon-facebook:before {
  content: '\e61a';
}
.et-extra-icon-facebook.et-extra-icon-background {
  background: #39579a !important;
}
.et-extra-icon-facebook.et-extra-icon-background-hover:hover {
  background: #39579a !important;
}
.et-extra-icon-facebook.et-extra-icon-color {
  color: #39579a;
}
.et-extra-icon-facebook.et-extra-icon-color-hover:hover {
  color: #39579a;
}
.et-extra-icon-twitter:before {
  content: '\e623';
}
.et-extra-icon-twitter.et-extra-icon-background {
  background: #01aced !important;
}
.et-extra-icon-twitter.et-extra-icon-background-hover:hover {
  background: #01aced !important;
}
.et-extra-icon-twitter.et-extra-icon-color {
  color: #01aced;
}
.et-extra-icon-twitter.et-extra-icon-color-hover:hover {
  color: #01aced;
}
.et-extra-icon-instagram:before {
  content: '\e60f';
}
.et-extra-icon-instagram.et-extra-icon-background {
  background: #517fa4 !important;
}
.et-extra-icon-instagram.et-extra-icon-background-hover:hover {
  background: #517fa4 !important;
}
.et-extra-icon-instagram.et-extra-icon-color {
  color: #517fa4;
}
.et-extra-icon-instagram.et-extra-icon-color-hover:hover {
  color: #517fa4;
}
